<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Apizr.Integrations.AutoMapper</name>
    </assembly>
    <members>
        <member name="M:Apizr.AutoMapperOptionsBuilderExtensions.WithAutoMapperMappingHandler``1(``0,AutoMapper.IConfigurationProvider)">
            <summary>
            Set AutoMapper as MappingHandler
            </summary>
            <typeparam name="TBuilder"></typeparam>
            <param name="builder"></param>
            <param name="configuration"></param>
            <returns></returns>
        </member>
        <member name="M:Apizr.AutoMapperOptionsBuilderExtensions.WithAutoMapperMappingHandler``1(``0)">
            <summary>
            Set AutoMapper as MappingHandler
            </summary>
            <typeparam name="TBuilder"></typeparam>
            <param name="builder"></param>
            <returns></returns>
        </member>
    </members>
</doc>
